//優惠選擇列
.eventApplyType {
    width: 100%;
    height: auto;
    overflow-x: auto;
    position: fixed;
    top: 12vw;
    left: 0vw;
    z-index: 10;
    background: $mainBG_1;

    ul {
        display: flex;

        li {
            width: 34%;
            height: 10.3vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            border-bottom: solid 2px transparent;
            font-size: 1rem;
            font-weight: bold;
            color: $choose_Word;

            &:active,&.active {
                border-color: $choose_Border;
                color: $choose_ActiveWord;
            }
        }
    }
}

//優惠列表
.applyList {
    display: none;
    width: 100%;
    height: calc(100vh - 132px);
    background: $mainBG_2;
    overflow-y: scroll;
    margin-top: 10.3vw;

    &.display {
        display: block;
    }

    .listBox {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 2.5vw 4% 0;

        .list {
            margin-bottom: 3.65vw;
            border-radius: 7px;
            box-shadow: 0 0 13px 2px $boxshadow_1;
            border: solid 1px $mainBorder_2;
            background: $mainBG_1;
            overflow: hidden;

            .title {
                width: 100%;
                height: 10.3vw;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                background: $mainBG_4;
                border-bottom: solid 1px $mainBorder_1;
                color: $title_1;
                font-size: 1rem;
                font-weight: bold;
                padding: 0 4vw;
            }

            .tips {
                display: none;
                width: 95%;
                margin: 2vw auto 0;
                @include smallTip;
                padding: 2vw 0;

                &.display {
                    display: block;
                }

                em {
                    margin-right: 2.5vw;
                }
            }

            ul {
                width: 100%;
                height: auto;

                li {
                    width: 100%;
                    height: auto;
                    box-sizing: border-box;
                    padding: 2vw 3.65vw;
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.89rem;
                    font-weight: bold;
                    color: $title_2;
                    align-items: center;

                    &.cur {
                        background: $currentBG;
                    }
                    
                    label {
                        flex-shrink: 0;
                        width: 35%;
                    }

                    p {
                        font-size: 0.85rem;
                        color: $mainWord_1;
                        line-height: 4.8vw;

                        em {
                            color: $remind;

                            &.sp {
                                color: $remind_Sp;
                            }

                            &.times {
                                color: $title_1;
                            }
                        }
                    }
                }
            }

            .btnBox {
                width: 100%;
                height: auto;
                box-sizing: border-box;
                padding: 3.65vw 2.9vw;
                display: flex;
                justify-content: space-between;

                button {
                    width: calc((100% - 2.5vw) / 2);
                    height: 9vw;

                    &.applyBtn {
                        @include mainBtn_4;
                        font-size: 1rem;
                    }

                    &.checkBtn {
                        @include noBgBtn_Normal;
                        font-size: 1rem;

                        &.already {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}

//優惠申請紀錄
.applyRecord {
    width: 100%;
    background: $mainBG_2;
    margin-top: 40px;
    box-sizing: border-box;
    padding-top: 2.5vw;
    display: none;

    &.display {
        display: block;
    }

    .searchContain {
        width: 100%;
        height: auto;
        background: $mainBG_1;
        padding: 3.65vw;
        box-sizing: border-box;
        
        form {
            width: 100%;
            height: auto;

            ul {
                width: 100%;
                height: auto;

                li {
                    width: 100%;
                    height: auto;
                    margin-bottom: 5vw;

                    p {
                        font-size: 0.89rem;
                        font-weight: bold;
                        color: $title_2;
                        margin-bottom: 2.5vw;
                    }

                    select {
                        width: 100%;
                        height: 10.3vw;
                        @include mainSelect;
                    }

                    .inputBox {
                        width: 100%;
                        height: 10.3vw;
                        border-radius: 5px;
                        border: solid 1px $mainBorder_2;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        font-size: 0.95rem;
                        font-weight: bold;
                        color: $mainWord_1;

                        input {
                            border: none;
                            background: none;
                            width: auto;
                            height: 100%;
                            color: $mainWord_1;
                            font-size: 0.95rem;
                            font-weight: bold;
                        }

                        .chDate {
                            width: 6vw;
                            height: 6vw;
                        }
                    }

                    .btnBox {
                        width: 100%;
                        height: auto;
                        display: flex;

                        button {
                            width: 25%;
                            height: 9.2vw;
                            @include changeBtn;

                            &:nth-of-type(1) {
                                border-radius: 5px 0 0 5px;
                            }

                            &:nth-of-type(1),
                            &:nth-of-type(2),
                            &:nth-of-type(3) {
                                border-right: 1px solid transparent;
                            }
                        
                            &:last-child {
                                border-radius: 0 5px 5px 0;
                            }
                        }
                    }

                    &.bigBtn {
                        margin: 0;

                        button {
                            width: 100%;
                            height: 10.3vw;
                            @include mainBtn_4;
                        }
                    }
                }
            }
        }
    }

    .reviewBody {
        width: 100%;
        height: auto;
        min-height: 101.5vw;
        background: $mainBG_2;
        box-sizing: border-box;
        padding: 2.5vw 4%;

        .noData {
            display: none;
            width: 100%;
            height: auto;
            box-sizing: border-box;
            padding: 21vw;
            color: $title_3;
            font-weight: bold;
            text-align: center;
            font-size: 0.89rem;

            &.display {
                display: block;
            }
        }

        .recordBox {
            display: none;
            width: 100%;
            height: auto;
            margin-bottom: 2.5vw;
            background: $mainBG_1;
            border-radius: 5px;
            box-shadow: 0 0 5px 0 $boxshadow_2;
            border: solid 1px $mainBorder_2;

            &.display {
                display: block;
            }

            ul {
                width: 100%;
                height: auto;

                .title {
                    width: 100%;
                    height: 9.2vw;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    box-sizing: border-box;
                    padding: 0 5vw;
                    border-bottom: solid 1px $mainBorder_1;

                    p {
                        color: $title_1;
                        font-weight: bold;
                        font-size: 0.96rem;

                        span {
                            color: $title_2;

                            &.status {
                                color: $mainWord_1;
                            }
                        }
                    }
                }

                ul {
                    box-sizing: border-box;
                    padding: 2.67vw 4vw;

                    li {
                        width: 100%;
                        height: 5vw;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 2.5vw;

                        &:last-child {
                            margin: 0;
                        }

                        p {
                            font-size: 0.96rem;
                            font-weight: bold;
                            color: $title_2;

                            &:last-child {
                                color: $mainWord_1;
                            }
                        }
                    }
                }
            }
        }
    }
}