//幫助中心外層
.helpWrap {
    display: none;
    width: 100%;
    height: auto;
    background: $mainBG_2;

    &.display {
        display: block;
    }

    //開頭選單
    .helpHeader {
        width: 100%;
        height: 18vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $mainBG_1;
        border-bottom: solid 1px $mainBorder_1;

        .selectBox {
            width: 92.27vw;
            height: 13vw;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background: transparent;
            position: relative;
            border-radius: 5px;
            border: solid 1px $mainBorder_2;
            padding: 0 4vw;

            p {
                color: $title_1;
                font-size: 1rem;
                font-weight: bold;
            }

            .arrow_ic {
                display: block;
                @include arrow;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 4vw;
                transition: 0.3s all;
            }

            select {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                padding-left: 3.65vw;
                color: $mainWord_1;
                font-weight: bold;
                font-size: 0.96rem;
            }
        }
    }

    //內容
    .helpBody {
        width: 100%;
        height: calc(100vh - 171px);
        overflow-y: auto;

        ul {
            width: 100%;
            height: auto;
            box-sizing: border-box;
            padding: 3.65vw 4vw;

            li {
                width: 100%;
                height: 13vw;
                @include help_LiBtn;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

//幫助中心內層
.helpInner {
    display: none;
    width: 100%;
    height: calc(100vh - 15.4vw);
    background: $mainBG_2;
    overflow-y: auto;

    &.display {
        display: block;
    }

    ul {
        display: none;
        width: 100%;
        height: auto;

        &.display {
            display: block;
        }

        li {
            width: 100%;
            height: auto;
            margin: 14px 0;

            &.active {

                .title {

                    .arrow_ic {
                        transform: rotate(270deg);
                    }
                }

                .textBox {
                    display: block;
                }
            }

            .title {
                width: 92.27vw;
                height: 13vw;
                background: $mainBG_4;
                box-shadow: 0 0 5px 0 $boxshadow_2;
                border-radius: 5px 5px 0 0;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                border: solid 1px $mainBorder_2;

                .icon {
                    display: block;
                    width: 5vw;
                    height: 5vw;
                    margin: 0 4vw;
                    flex-shrink: 0;
                }

                .arrow_ic {
                    display: block;
                    width: 2vw;
                    height: 3.4vw;
                    margin: 0 4vw;
                    flex-shrink: 0;
                    transform: rotate(180deg);
                    transition: 0.3s all;
                }

                p {
                    width: 100%;
                    font-size: 1rem;
                    font-weight: bold;
                    color: $title_1;
                    line-height: 1.1rem;
                }
            }

            .textBox {
                display: none;
                width: 92.27vw;
                height: auto;
                box-sizing: border-box;
                padding: 2.5vw;
                margin: 0 auto;
                border: solid 1px $mainBorder_2;
                border-top: none;
                background: $mainBG_1;
                border-radius: 0 0 5px 5px;

                &.app {
                    background: none;
                    border: none;
                }

                p {
                    line-height: 1.2rem;
                    font-size: 0.96rem;
                    font-weight: bold;
                    color: $help_Word;
                    margin-bottom: 2vw;

                    &.remind {
                        color: $remind;

                        &.mar {
                            margin-top: 40px;
                        }
                    }

                    &.smallTitle {
                        color: $title_1;
                        font-size: 1rem;
                        font-weight: bold;
                        margin: 5vw 0 2.5vw;

                        &.first {
                            margin-top: 0;
                        }
                    }

                    &.platform {
                        font-size: 5vw;
                        color: $help_Title;
                        margin: 3.65vw 0;
                        text-align: center;

                        .downloadBtn {
                            width: 144px;
                        }
                    }

                    a {
                        color: $click;
                        text-decoration: none;
                    }

                    &.arrow {
                        color: $mainWord_3;
                        font-size: 1.8rem;
                        text-align: center;
                    }

                    &.join {
                        color: $mainWord_3;
                        font-size: 1.2rem;
                        margin-top: 5vw;
                        text-align: center;
                    }
                }

                .img {
                    width: 100%;
                    height: 0;
                    padding-top: 76%;
                    margin: 2.5vw 0;

                    &.transferWay {
                        padding-top: 111%;
                    }

                    &.remote {
                        padding-top: 137%;
                    }

                    &.license {
                        padding-top: 134%;
                    }
                }

                .btnBox {
                    width: 100%;
                    height: auto;
                    margin-top: 50px;

                    div {
                        width: 60%;
                        height: auto;
                        position: relative;
                        margin: 0 auto 3.65vw;
                        @include help_lineBtn;

                        i {
                            display: block;
                            width: 15vw;
                            height: 15vw;
                            margin: 3vw auto;
                        }

                        p {
                            font-size: 5vw;
                            font-weight: bold;
                            margin: 0 0 5vw;
                        }
                    }
                }

                .downloadBtn {
                    width: 88%;
                    height: 10.3vw;
                    @include mainBtn_4;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 5vw auto;
                }
            }
        }
    }
}