//slot頁
.slotWrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background: $mainBG_2;

    //slot上選單
    .slotHeader {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: $mainBG_2;

        //選單
        .listBox {
            width: 100%;
            height: auto;

            ul {
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                background: $mainBG_1;

                li {
                    width: 33%;
                    font-size: 0.85rem;
                    font-weight: bold;
                    color: $choose_Word;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: solid 2px transparent;
                    padding: 2vw 4%;

                    &.active {
                        color: $choose_ActiveWord;
                        border-color: $choose_Border;
                    }

                    i {
                        display: block;
                        width: 3.7vw;
                        height: 3.7vw;
                        margin-right: 2vw;

                        &.hot_ic {
                            height: 4.5vw;
                        }
                    }
                }
            }
        }

        //搜尋列
        .searchBox {
            width: 92%;
            height: 7vw;
            @include slotSearch;
            margin: 2.5vw auto;

            .search_ic {
                display: block;
                width: 3.65vw;
                height: 3.65vw;
            }

            input {
                width: 100%;
                height: auto;
                @include slotSearch_Input;
            }
        }
    }

    //slot遊戲列
    .gameList {
        width: calc(100% - 30px);
        height: calc(100vh - 173px);
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        overflow-y: auto;

        .gameBox {
            width: calc((96vw - 30px)/2);
            height: 44vw;
            margin: 0 1vw 8px;
            @include slotGameBox;

            img {
                border-bottom: 1px solid $mainBorder_2;
            }

            p {
                width: 100%;
                height: 7.4vw;
                box-sizing: border-box;
                padding: 0 1.65vw;
                font-size: 0.89rem;
                font-weight: bold;
                color: $slotGame_Word;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .love {
                    width: 3.65vw;
                    height: 3.65vw;
                }
            }

            .btnBox {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                button {
                    width: 20vw;
                    height: 9vw;
                    @include slotGameBtn_1;

                    &.try {
                        @include slotGameBtn_2;
                    }
                }
            }
        }
    }
}